.ta-input-b {
  margin: 20px 0;
  .ta-input-section {
    height: auto;
    width: 90%;
    margin-left: 5%;
    background-color: #0a0a0a;
    border-radius: 20px;
    overflow: hidden;
    padding: 20px 15px 10px 5px;

    .ta-text-input {
      height: 100%;
      width: 100%;
      color: #ffffff;
      font-size: 1rem;
      padding: 0 0 0 20px;
      resize: none;

      background-color: transparent;
      outline: none;
      border: none;
      font-weight: normal;
      font-family: "DM Sans";
    }
  }

  .message-section {
    margin-top: 1px;
    .message {
      font-size: 0.8rem;
      color: rgba(219, 26, 26, 0.89);
    }
  }
}
