.bottom-nav {
  background-color: #0a0a0a;
  position: fixed;
  bottom: 0;
  left: 5%;
  padding: 10px 20px;
  transform: translate(0%, -50%);
  border-radius: 100px;
  width: 90%;
  z-index: 99;

  & .bn-item-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    & .bn-item {
      background-color: #0a0a0a;
      border-radius: 100px;
      height: 50px;
      width: 50px;
      margin: 0 5px;
      cursor: pointer;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
  }
}

@media screen and(min-width: 750px) and (max-width: 1190px) {
  .bottom-nav {
    width: 50%;
    transform: translate(40%, -50%);
  }
}

@media screen and(min-width: 1190px) {
  .bottom-nav {
    width: 30%;
    transform: translate(100%, -50%);
  }
}
